<f:layout name="TwoColumn" />

<html>
<head>
    <title>{title}</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <f:render partial="Header" />
        
        <div class="row">
            <div class="col-8">
                <f:render section="Main" />
            </div>
            <div class="col-4">
                <f:render section="Sidebar" />
            </div>
        </div>

        <f:render partial="Footer" />
    </div>
</body>
</html> 