@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

$background-color: #111;
$primary-color: #222;
$secondary-color: #333;
$text-color: #eee;

body {
    background-color: $background-color; 
    color: $text-color; 
    font-family: Arial, sans-serif;
}

.vidcontainer {
    background-color: $primary-color;
    border: $secondary-color;
    padding: 10px;
    text-align: center;
    margin: 10px;
}