RewriteEngine   on
RewriteRule ^soundtrack/([0-9]+)$ Demo.php?id=$1
RewriteRule ^soundtracks$ Demo.php?all=true
#$1 ist für den ersten Treffer von der Regex
#+ für einmal oder öfter
#* für null mal oder öfter
#. für belibiges Zeichen