{% extends "base.html.twig" %}


{% block title %}About me{% endblock %}

    
{% block content %}
        <section>
          <h2>{{headline1}}</h2>
          <p>{{info}}</p>
          <p>{{wohnen}}</p>
        </section>
{% endblock %}