<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            {% include 'partials/header.twig' %}

            <main>
                <h1>{{headline}}</h1>
                <h2>Willkommen!</h2>
                <p>{{ content }}</p>
                <h1> Ausbildung </h1>
                {% for entity in entities %}
                    {% include 'partials/entity.twig' %}
                {% endfor %}
            </main>

            {% include 'partials/footer.twig' %}
        </div>
    </body>
</html>